{% block friendly_captcha_widget %}
    <script type="module" src="https://cdn.jsdelivr.net/npm/friendly-challenge@0.8.1/widget.module.min.js" async defer></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/friendly-challenge@0.8.1/widget.min.js" async defer></script>
    {% if pwrk_fcaptcha_enabled %}
        <div class="frc-captcha" data-sitekey="{{ pwrk_fcaptcha_sitekey }}"></div>
    {% endif %}
{% endblock %}